.topnav{
    background-color:red;
    overflow:hidden;
}

.topnav a{
    color:black;
    font-size: 20px;
    padding: 20px 40px; /*generates space around the topnav... can be used for dividers as well*/
    text-decorations: none;
}

/*Change the color of links on hover*/
.topnav a:hover{
    color: black;
    background-color: orange;
}

/*Add color to the active (current) link*/
.topnav a.active{
    background-color: deepskyblue;
    color: cornflowerblue;
}
